{% extends 'recipes/base.html' %}
{% block content %}

    <section class="callout">
        <div class="container text-center">
            <form method="post" action="/suggested_recipes">
                <h1 class="mb-1">Cook It!</h1>
                <h3 class="mb-5">
                    <em>Buzdolabını aç, olanlarla nefis yemekler yap</em>
                </h3>
                {% csrf_token %}
                {{ form }}
                <br />
                <br />
                <input type="submit" class="btn btn-light mr-4" value="Haydi fırına ver"/>
            </form>
        </div>
    </section>
{% endblock %}










