{% extends 'recipes/base.html' %}
{% block content %}
    <section class="content-section bg-light" id="about">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h2>{{ recipe.title }}</h2>
                    <p class="lead">Daha fazla tarife ulaşmak için <a href="/">tıklayın!</a></p>
                </div>
            </div>
        </div>
    </section>

    <section class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        {% if recipe.image %}
                            <img class="card-img-top" src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">Malzemeler</h5>
                            {% for i in ingredients %}
                                <p class="card-text">{{ i.count }} {{ i.measurementUnit }} {{ i.name }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="card">

                        <div class="card-body">
                            <h5 class="card-title">Tarifin Hazırlanışı</h5>
                            <p class="card-text">{{ recipe.text }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}