{% extends 'recipes/base.html' %}
{% block content %}
    <section class="content-section">
        <div class="container">
            <div class="content-section-heading text-center mb-3">
                <h3 class="text-secondary mb-0">EVDEKİLERLE YAPABİLECEĞİN</h3>
                <h2 class="mb-3">Tarifler</h2>

                <span class="badge badge-pill badge-dark">Seçtiklerim</span>
                {% for food in selected_food %}
                    <span class="badge badge-pill badge-warning">{{ food }}</span>
                {% endfor %}
            </div>

            <div class="dropdown text-center mb-5">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tarifleri Sırala
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Kaloriye göre sırala</a>
                    <a class="dropdown-item" href="#">A'dan Z'ye sırala</a>
                    <a class="dropdown-item" href="#">Kolaydan Zora sırala</a>
                </div>
            </div>

            <div class="row no-gutters">
                <div class="card-columns">
                    {% for recipe in all_suggestion_recipes %}
                        <div class="card">
                            <div class="card-body">
                                <a href="{% url 'get_recipe_page' pk=recipe.2 %}">
                                    <h5 class="card-title">{{ recipe.0 }}</h5>
                                </a>
                                <p class="card-text">
                                    {% for item in recipe.1 %}
                                        <span class="badge badge-pill badge-danger">{{ item }}</span>
                                    {% endfor %}

                                    {% for food in selected_food %}
                                        <span class="badge badge-pill badge-success">{{ food }}</span>
                                    {% endfor %}
                                </p>
                            </div>

                            <div class="card-footer">
                                <small class="text-muted">Eksik {{ recipe.1|length }} malzeme var!</small>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </section>
{% endblock %}