{% extends 'recipes/base.html' %}
{% load mathfilters %}
{% block content %}
    <section class="content-section">
        <div class="container">
            <div class="content-section-heading text-center mb-3">
                <h3 class="text-secondary mb-0">EVDEKİLERLE YAPABİLECEĞİN</h3>
                <h2 class="mb-3">Tarifler</h2>

                <span class="badge badge-pill badge-dark">Seçtiklerim</span>
                {% for food in selected_food %}
                    <span class="badge badge-pill badge-warning">{{ food }}</span>
                {% endfor %}
            </div>

            <div class="dropdown text-center mb-5">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tarifleri Sırala
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'calorie_sort' %}">Kaloriye Göre Sırala</a>
                    <a class="dropdown-item" href="{% url 'alphabetic_sort' %}">A'dan Z'ye Sırala</a>
                    <a class="dropdown-item" href="{% url 'easy_hard_sort' %}">Kolaydan Zora Sırala</a>
                    <a class="dropdown-item" href="{% url 'by_comment_sort' %}">Yorumlara Göre Sırala</a>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    {% for key in most_common_key %}
                        <span class="badge badge-pill badge-dark">tavsiye edilen ürünler</span>
                        <span class="badge badge-pill badge-success">{{ key }}</span>
                        {% for i in most_common|get_item:key %}

                            <span class="badge badge-pill badge-secondary">{{ i }}</span>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>


            <div class="row no-gutters">
                <div class="card">
                    {% for recipe in all_suggestion_recipes %}
                        {#                        <div class="col-sm-3 h-100">#}
                        <div class="card mb-4">
                            <div class="card-footer">
                                <small class="text-muted">
                                    Tarifin kalorisi: {{ recipe.4 }} kcal
                                </small>
                                <br>
                                <small class="text-muted">
                                    Zorluk Drecesi: {{ recipe.6 }}
                                </small>
                                {#                                    <small class="text-muted">#}
                                {#                                        {% if recipe.5 < 0 %}#}
                                {#                                            Tarif {{ recipe.5|mul:-1 }}kötü yoruma sahip.#}
                                {#                                        {% endif %}#}
                                {#                                        {% if recipe.5 > 0 %}#}
                                {#                                            Tarif {{ recipe.5 }}güzel yoruma sahip.#}
                                {#                                        {% endif %}#}
                                {##}
                                {#                                    </small>#}
                            </div>
                            <div class="card-body">
                                <a href="{% url 'get_recipe_page' pk=recipe.2 %}">
                                    <h5 class="card-title">{{ recipe.0 }}</h5>
                                </a>
                                <p class="card-text">
                                    {% for item in recipe.1 %}
                                        <span class="badge badge-pill badge-danger">{{ item }}</span>
                                    {% endfor %}

                                    {% for food in recipe.3 %}
                                        <span class="badge badge-pill badge-success">{{ food }}</span>
                                    {% endfor %}
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Eksik {{ recipe.1|length }} malzeme var!</small>
                            </div>

                        </div>
                        {#                        </div>#}
                    {% endfor %}
                </div>
            </div>

        </div>
    </section>
{% endblock %}